* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.headingH1 {
    font-size: 2.5rem;
    text-align: center;
    color: #2B0236;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.headingH2 {
    font-size: 2rem;
    text-align: center;
    color: #2B0236;
    font-weight: 900;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}

.py-1 {
    padding: 1rem;
}

.py-2 {
    padding: 2rem;
}

.py-3 {
    padding: 3rem;
}

.py-6 {
    padding: 6rem;
}

.p-bold{
    font-weight: 900;
}

/* Utilities Viršui */

.topLine {
    background: #60267F;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}

.topLine p{
    font-weight: 600;
    color: #fff;
    font-size: 10px;

}


.topLineSpan {
    text-decoration: underline;
}


.headerNav {
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px 15px 30px;
    border-bottom: 3px solid rgb(128, 128, 128, 0.068);
}



.navigationContainer{
    display: flex;
    gap: 30px;
}

.navigationContainer a{
    margin-top: 10px;
text-decoration: none;
color: #000;
font-weight: 600;


}

.headerBtn{
    border-radius: 5px;
    background: none;
    padding: 8px 10px;
    border: #9a54BC 2px solid;
    color: #9a54BC;
    font-size: 14px;
    font-weight: 540;
    cursor: pointer;
    transition: 0.1s ease-in-out;

}

.headerBtn:hover {
    background-color: #9a54BC;
    color: #fff;
}

img {
    width: 150px;
}



.headingBtn{
    padding: 1rem 0.5rem;
    background-color: #9A54BC;
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
    padding: 20px 32px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border-radius: 6.7px;
}

.headingBtn:hover{
    background: #fff;
    color: #9a54BC;
}
.section1 {
    margin-top: 7rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #2B0236;
    font-weight: 500;
    
}


.relative {
    position: relative;
    top: 0;
}

.absolute {
    position: absolute;
}



.firstPhoneContainer{
margin-top: 10rem
}

.bigEllipse{
    width: 26rem;
}

.ellipse {
    width: 15rem;

}

.rectangle {
width: 7rem;
}

.collab {
    width: 5rem;
}

.buttonE{
    display: flex;
    margin-top: 300px;
    background-color: white;
    border: 2px #9A54BC solid;
    padding: 4px 40px;
    border-radius: 5px;
    color: #9A54BC;
    cursor: pointer;
}



/* Section 2 */

.topBrandsContainer{
margin-top: 100px;
text-align: center;
}

.iconsContainer{
    gap: 150px;

}

.iconsContainer img{
    width: 100px;
    
}

/* 3 Section App Help */

.appHelpContainer{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: -50px 400px 0 400px;
width: 100%;}

.appHelpKairePara{
    flex-direction: row;
    width: 22%;
    text-align: left;
    padding-left: 50px;
}

/* 2 button container klase */

.buttons-2 {
    display: flex;
    -webkit-box-shadow: 0px 11px 10px -14px #000000; 
    box-shadow: 9px 11px 10px -16px #000000;
    justify-content: space-between;
    text-align: center;



}

.appHelpDesineImg{
    flex-direction: row;
    width: 78%;


}

.buttons{
    padding: 10px 70px;
    background-color: #60267F;
    color:#fff;
    font-weight: 700;
    border: 2px solid #fff;
    text-align: center;
    justify-content: center;
}


.buttons-white{
background-color: #fff;
color: #000;
}



.p-text-gray {
    padding: 25px 25px 25px 25px;
    margin: 12.5px 0 12.5px 0;
    background-color: #F2F2F2;
}

.paraContainer p span {
    font-weight: 700;
}

.paraContainer p {
    color: #000;
}

.rightImgContainer {
    background-color: white;
    width: 55%;
    padding-top: 70px;

}

.rightImgContainer img{
width: 300px;
margin-right: 700px;
}

/* Section 4 Budget */


.budgetContainer {
    margin-top: 100px;
    height: 1000px;
}


.budgetContainer p {
    margin-top: 50px;
    text-align: center;
    font-size: 1.5rem;
}

.budgetContainer iframe{
    width: 70%;
    height: 100%;
}



/* Section 5 Projects done */


.projectsDoneCardContainer{
    margin: 50px 400px 0 400px;
    justify-content: space-between;

}

.card {
    align-items: flex-start;
    gap: 25px;
}

.card>span {
    margin-left: 20px;
}

.card img {
    width: 500px;
    height: 300px;
}


.projectsDoneCardHeader{
    color: #60267F;
    font-weight: 700;
    font-size: 18px;
}

.projectDoneCardNumber {
    color: #3d3b3bc7;
    font-weight: 700;
    font-size: 18px;
}


