* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
}


:root{
    --grey: #A79D9D;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.headingH1 {
    font-size: 3rem;
    text-align: center;
    color: #2B0236;
    font-weight: 600;
    font-family:  Arial, Helvetica, sans-serif;
    letter-spacing: 1.3px;
}


.trustedHeading{
    font-size: 2.2rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 1.3px;
}


.logo {
margin-left: 35px;
width: 150px;
}

h2 {
    text-align: center;
}


.py-0 {
    padding: 1px;
}

.py-1 {
    padding: 1rem;
}

.py-2 {
    padding: 2rem;
}

.py-3 {
    padding: 3rem;
}

.py-4 {
    padding: 4rem;
}

.py-5 {
    padding: 5rem;
}

.py-6 {
    padding: 6rem;
}

.py-9 {
    padding: 9rem;
}


.py-16 {
    padding: 16rem;
}


.p-bold{
    font-weight: 900;
}

/* Utilities Viršui */

.topLine {
    background: #60267F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.topLine p{
    font-weight: 600;
    color: #fff;
    font-size: 12px;

}


.topLineSpan {
    text-decoration: underline;
}


.headerNav {
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px 20px 30px;
    border-bottom: 4px solid rgb(128, 128, 128, 0.078);
}



.navigationContainer{
    display: flex;
    gap: 30px;
}

.navigationContainer a{
    margin-top: 10px;
text-decoration: none;
color: #000;
font-weight: 600;


}

.headerBtn{
    border-radius: 5px;
    background: none;
    padding: 8px 10px;
    border: #9a54BC 2px solid;
    color: #9a54BC;
    font-size: 14px;
    font-weight: 540;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    margin-top: 10px;

}

.headerBtn:hover {
    background-color: #9a54BC;
    color: #fff;
}



.headingBtn{
    background-color: #9A54BC;
    font-weight: 600;
    font-size: 1.4rem;
    color: #fff;
    padding: 20px 60px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border-radius: 6.7px;
}

.headingBtn:hover{
    background: #fff;
    color: #9a54BC;
}
.section1 {
    margin-top: 7rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #2B0236;
    font-weight: 500;
    
}


.relative {
    position: relative;
}

.absolute {
    position: absolute;
}



.firstPhoneContainer{
margin-top: 10rem
}

.bigEllipse{
    width: 42rem;
    top: -245px;

}

.ellipse {
    width: 25rem;
    top: -220px;

}

.rectangle {
width: 13rem;
}

.collab {
    width: rem;
}

/* Explore Product Button */

.buttonE{
    /* display: inline; */
    top: 270px;
    background-color: white;
    border: 2px #9A54BC solid;
    border-radius: 5px;
    color: #9A54BC;
    cursor: pointer;
    padding: 12px 45px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
}



/* Section 2 */

.topBrandsContainer{
margin-top: 100px;
text-align: center;
}

.iconsContainer{
    gap: 150px;

}

.iconsContainer .icons{
    width: 120px;
}

.banga{
    width: 200px;
    height: 200px;
}

/*How does Collab-app help? */

.appHelpContainer{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #fcf8fe;
}

.colorBefore {
    background-color: #fcf8fe;

}

.appHelpKairePara{
    flex-direction: row;
    width: 500px;
    text-align: left;
    background-color: white;
}

/* 2 button container klase */

.buttons-2 {
    display: flex;
    -webkit-box-shadow: 0px 11px 10px -14px #000000; 
    box-shadow: 9px 11px 10px -16px #000000;
    justify-content: space-between;
    text-align: center;



}

.appHelpDesineImg{
    flex-direction: row;
    width: 78%;


}

.buttons{
    padding: 12px 72px;
    background-color: #60267F;
    color:#fff;
    font-weight: 700;
    border: 2px solid #fff;
    text-align: center;
    justify-content: center;
}


.buttons-white{
background-color: #fff;
color: #000;
}



.p-text-gray {
    padding: 25px 25px 25px 25px;
    margin: 12.5px 0 12.5px 0;
    background-color: #F2F2F2;
}

.paraContainer p span {
    font-weight: 700;
}

.paraContainer p {
    color: #000;
}

.rightImgContainer {
    background-color: #fcf8fe;
    width: 55%;
    padding-top: 70px;

}

.rightImgContainer img{
width: 300px;
}

/* Section Budget */


.budgetContainer {
    margin-top: 100px;
    height: 1000px;
}


.budgetContainer p {
    margin-top: 50px;
    text-align: center;
    font-size: 1.5rem;
}

.video {

    width: 1400px;
    height: 100%;
    
}



/* Section 5 Projects done */


.projectsDoneCardContainer{
    margin: 50px 40px 0 40px;
    justify-content: space-between;

}

.card {
    align-items: flex-start;
    gap: 25px;
}

.card>span {
    margin-left: 20px;
}

.card img {
    width: 500px;
    height: 300px;
}


.projectsDoneCardHeader{
    color: #60267F;
    font-weight: 700;
    font-size: 18px;
}

.projectDoneCardNumber {
    color: #3d3b3bc7;
    font-weight: 700;
    font-size: 18px;
margin-top: 25px}


/* Section 5 */

.bigCardsContainer {
    gap: 20px;
    margin-top: 200px;
}


.afterHeadingText{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: var(--grey);
    margin-top: 50px;
  


}


.monthlyYearlyContainer img{
    gap: 20px;
    margin: 30px;
    width: 50px;
    height: 45px;
    font-size: 1rem;
}

.monthly {
    font-weight: 900;

   color: var(--grey);
}

.yearly {
font-weight: 900;
margin-right: 15px;
color: var(--grey);

}

.discount {
    background-color: #FFE87A;
    font-size: 10px;
    padding: 4px 7px;

}

.threeBigCardContainer{
    gap: 50px;
}

.bigCard{
    width: 400px;
    height: 450px;
    border: 0.5px solid #AAAAAA;
    flex-direction: column;
    padding: 20px 30px;
    gap: 3.2rem;
    border-radius: 7px;

}

.bigCard p {
    font-size: 16px;
    font-weight: 500px;
    margin-bottom: 12px;
}

.threeBigCardContainer h2{
    font-size: 40px;
    font-weight: 600px;
    text-align: left;
    margin-bottom: 70px;


}

.button-ThreeCards{
    background-color: #FFFFFF;
    padding: 10px;
    color: #000;
    font-weight:700;
    width: 100%;
}

.button-ThreeCards:hover{
    background-color: #000;
    color: #F2F2F2;
}

ul{
    margin-top: 50px;
}

.bigListCardContainer {
    gap: 50px;
    align-items: flex-end; 
}

li {
padding: 0 0 0 10px;
font-size: 18px;

}
li::marker{
content: '▶';
}

.cardThree {
    background-color: #56E6A5;
}

.cardThree p {
    font-size: 16px;

}

.cardThree button{
    margin-top: 50px;
    text-align: center;
}

/* Section 6 */